$theme-blue: #003e74;

.parameters {
  .collapsible {
    h3 {
      font-size: 1.3rem;

      svg { //collapse chevrons
        float: right;
      }
    }

    .collapse {
      background-color: #fafafa;
      padding-left: 1rem;
    }
  }

  .dynamic-form {
    .row {
      label {
        max-width: 60%;
        flex: 0 0 60%;
      }

      & > div {
        max-width: 40%;
        flex: 0 0 40%;
      }

      .dynamic-form-readonly-value {
        padding-top: 7px;
      }

    }
  }
}

.btn-action {
  @include button-variant($theme-blue, darken($theme-blue, 10%))
}

#fetching-results {
  background-color: rgba(0,0,0,0.2);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 9999;
}

#fetching-results-msg {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  width: 14rem;
  background: white;
  padding: 1rem;
}


