$theme-blue: #003e74;

h3 {
  font-size: 1.3rem;
}

.parameters {
  .collapsible {
    h3 {
      margin-bottom: 0;

      svg { //collapse chevrons
        float: right;
      }
    }
  }

  .parameter-panel {
    background-color: #fafafa;

    .standard-parameters {
      padding-left: 1rem;

      .dynamic-form {
        .row {
          label {
            max-width: 60%;
            flex: 0 0 60%;
          }

          & > div {
            max-width: 40%;
            flex: 0 0 40%;
          }

          .dynamic-form-readonly-value {
            padding-top: 7px;
          }
        }
      }
    }

    .phase-block-container {
      position: relative;
      width: 100%;
      height: 3rem;
    }

    .phase-block {
      position: absolute;
      bottom: 0px;
    }

    .phase-block-base {
      width: 100%;
      height: 0.1rem;
      background-color: #ccc;
    }
  }

  .edit-parameters {
    h3 {
      margin-bottom: 1.5rem;
    }
  }
}

.phase-odd {
  background-color: #d4effc;
}

.phase-even {
  background-color: #ffe4e4;
}

.btn-action {
  @include button-variant($theme-blue, darken($theme-blue, 10%))
}

.cursor-pointer {
  cursor: pointer;
}

#fetching-results {
  background-color: rgba(0,0,0,0.2);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
}

#fetching-results-msg {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  width: 14rem;
  background: white;
  padding: 1rem;
}


